

<h1> Index </h1>

<%= form_tag("/products/search", method: "get", class: "search") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<span>
  <% @channels.each do |channel| %>
      <%= link_to channel.name, controller: "products", channel: channel.id %>
  <% end %>
</span>

<ul>
	<% @products.each do |product| %>
      <strong> <%= product.name %> </strong>
      <li>
    		Price: <%= product.variants.order(price: :desc).last.price %>
      </li>
      <li>
        Quantity: <%= product.variants.order(price: :desc).last.quantity %>
    	</li>
      <% if buyer_signed_in? %>
        <%= link_to('Buy', product_path(product.id)) %>
      <% end %>
      <br>
  <% end %>
</ul>

<% if buyer_signed_in? %>
  <%= link_to('Sign out!', destroy_buyer_session_path, :method => :delete) %>
<% else %>
  <%= link_to('Sign in!', new_buyer_session_path) %>
<% end %>
