<h2> Query result: </h2>

<ul>
  <% @products.each do |product| %>
    <h4> <%= product.name %> </h4>
    <li>
      Price: <%= product.variants.order(price: :asc).first.price %>
    </li>
    <li>
      Quantity: <%= product.variants.order(price: :asc).first.quantity %>
    </li>
    <% if buyer_signed_in? %>
      <%= link_to 'Buy', action: "buy", variant_id: product.variants.order(price: :desc).last.id %>
    <% end %>
    <br>
  <% end %>
</ul>

<%= link_to('Index', products_path) %>
